<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lesson 35 HW 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA94AFAF1C4DAB3A00A0E58B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA94AFC81C4DAB3A00A0E58B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA94AFD31C4DAB3A00A0E58B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
